.promo {
    position: relative;
    margin-top: 160px;
    min-height: 995px;
    padding-top: 95px;
    background: left 805px top 82px no-repeat url("../img/section1/Rectangle1.png"),
                right 100px top 82px no-repeat url("../img/section1/Shapes.png"),
                left 0 bottom 190px no-repeat url("../img/section1/Rectangle3.png");
}